<ion-view >
  <ion-content>
      <div class="startPages">
          <div id="logo">Лого</div>
          <form ng-submit="doLogin()">
              
                  <label class="item item-input">
                      <input type="text" placeholder="Имя" ng-model="loginData.username">
                  </label>
                  <label class="item item-input">
                      <input type="password" placeholder="Пароль" ng-model="loginData.password">
                  </label>
                  <label class="item">
                      <button class="button button-block button-positive" type="submit">Войти</button>
                  </label>
                  <label class="link">
                      <a href="#">Регистрация</a>
                  </label>
              
          </form>
      </div>
  </ion-content>
</ion-view>
